@model AccidentsReports.Models.Insurance

@{
    ViewBag.Title = "Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>

<div class="row">
    <div class="col-4 position-fixed bg-light h-100">
        <h2>Insurance</h2>
        @{
            Html.RenderPartial("_User");
        }
    <h4>Insurance</h4>
        <div class="row">
            <div class="col-auto">
                @Html.LabelFor(model => model.EmployeeId, new { @class = "form-label" })
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.EmployeeId)
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                @Html.LabelFor(model => model.Company, new { @class = "form-label" })
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.Company)
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col">
        @{
            //TODO: Html.RenderPartial("Reports", new { Model.NIC });
        }
    </div>
</div>